<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "d-flex justify-content-end") %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "d-flex justify-content-end") %>
